*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
*/build
/.idea/

# Built application files
*.apk
*.
*.aar



# Gradle files
.gradle/
gradle/

# Local configuration file (sdk path, etc)
local.properties



#tinker的临时文件
tinkerTemp/

gradleconf/

/captures/

#bugly的日志文件
*/bugly
